.card.grid {
  position: relative;
  width: 350px;
  height: 350px;
  flex: 0 0 350px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-size: contain;
}

.card.list {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(136, 136, 136) -0.21%, rgb(102, 102, 102) 0%, rgba(51, 51, 51, 0.6) 88.88%);
  margin-bottom: 20px;

}

.card--body.grid{
  display: flex;
  flex-grow: 1;
  align-items: end;
}

.card--body.list{

}

.card--footer.grid{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-self: end;
  width: 100%;
  position: relative;
}

.card--footer.list{

}

.card--title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
}

.grid {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.horizontal-scroll {
  overflow-y: scroll;
}

.thumbs-up--wrapper{
  padding: 10px;
  background-color: #3CBBB4CC;
}

.thumbs-down--wrapper{
  padding: 10px;
  background-color: #FBBD4A;
}

.gauge-bar-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.gauge-bar {
  opacity: 0.9;
  display: inline-block;
  padding: 5px 0;
  text-align: center;
  color: #fff;
  font-size: small;
  font-weight: bold;
}

.positive-bar{
  background-color: #3CBBB499;
}

.negative-bar{
  background-color: #FBBD4A;
}

.row {
  display: flex;
  flex-direction: row;
}

.button{
  background: none;
  border: none;
  padding: 8px;
  margin-right: 3px;
}

.thumbs-up-btn {
  background-color: #3CBBB499;
}

.thumbs-down-btn {
  background-color: #FBBD4A;
}

.vote-now-btn{
  border: 1px solid #fff;
  background: rgba(48, 48, 48, 0.6);
  color: #fff;
}

.vote-now-btn:disabled {
  background-color: #e7e7e7;
  color: gray;
  border: none;
}

.vote-selected {
  border: 2px solid #fff;
}

.dropdown {
  border: 2px solid #000;
  background: #fff;
  border-radius: 0;
  text-align: center;
  padding: 10px;
}

.view-selector-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

@media all and (max-width: 768px) {
  .grid {
    display: flex;
    flex-flow:unset;
  }
  .view-selector-wrapper{
    display: none;
  }
}